.login-page {
  background: url(../../../Images/nike-logo.jpg) no-repeat center center;
  background-size: cover;
  height: 84vh;
  display: flex;
  align-items: center;
}

.login {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 400px;
  font-size: 1.6rem;
  border-radius: 10px;
}

.login h2 {
  font-size: 2.5rem;
}

.login input {
  font-size: 1.6rem;
}

.login button {
  font-size: 1.6rem;
}

.login span,
.login a {
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--main-color);
}