.divider span {
  height: 2px;
  background-color: #bbb;
  width: 20%;
}

.social-login {
  padding-bottom: 1rem;
}

.social-login button {
  background-color: #bbbbbb20;
  border: none;
  border-radius: .5rem;
  padding: .3rem 2rem;
  filter: grayscale(100%);
}

.social-login button:hover {
  filter: grayscale(0);
  background-color: #fff;
  transition: .3s all ease-in-out;
}

.social-login button svg {
  width: 25px;
  height: 25px;
}

.social-login button:hover .facebook {
  transition: .3s all ease-in-out;
  color: #1873eb;
}

.social-login button:hover .github {
  transition: .3s all ease-in-out;
  color: #000;
}