.NewArrival h1 {
  font-size: 4rem;
}

.NewArrival p {
  font-size: 1.7rem;
}

.NewArrival .imgBox:hover img {
  transform: scale(.9);
  transition: .3s ease;
}

@media screen and (max-width:576px) {
  .NewArrival h1 {
    font-size: 3rem;
  }
}