.NewArrival h1 {
  font-size: 4rem;
}

.NewArrival p {
  font-size: 1.7rem;
}

.NewArrival .imgBox img {
  border-radius: .8rem;
}


@media screen and (max-width:576px) {
  .NewArrival h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width:991px) {
  .NewArrival .imgBox:hover img {
    transform: scale(1.1);
    transition: .3s all ease;
  }
}