.bg-crimson {
  background-color: var(--main-color);
}

.text-crimson {
  color: var(--main-color);
}

.section-title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--main-color);
}

.Toastify {
  font-size: 1.6rem;
}