* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

:root {
  --main-color: crimson;
  --dark: #212529;
}

.bg-crimson {
  background-color: var(--main-color);
}

.text-crimson {
  color: var(--main-color);
}