* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

:root {
  --main-color: crimson;
}

.bg-crimson {
  background-color: var(--main-color);
}

.text-crimson {
  color: var(--main-color);
}